@import url("https://fonts.googleapis.com/css2?family=Gaegu&family=Parkinsans:wght@300..800&display=swap");

button {
  all: unset;
  cursor: pointer;
}

.profileButton {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 320px) and (max-width: 1439px) {
  .profileIcon {
    font-size: 40px;
    color: #1c323a;
    transition: transform 0.2s ease;
  }
}

@media (min-width: 1440px) {
  .profileIcon {
    font-size: 80px;
    color: #1c323a;
    transition: transform 0.2s ease;
  }
}

.profileIcon:hover {
  transform: scale(1.2);
  color: #f99d92;
}

.profileDropdown {
  position: absolute;
  top: 120%;
  right: 3%;
  background-color: #a1d6d2;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 20px;
  z-index: 1000;
  min-width: 150px;
  font-family: "Gaegu", cursive;
  font-size: 30px;
  text-align: center;
}

.modalButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  width: 190px;
  height: 200px;
  background-color: #a1d6d2;
}

.modalButton {
  all: unset;
  background-color: #efaca6;
  color: white;
  padding: 10px 20px;
  border: 3px solid #f7f0e5;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100px;
  height: 40px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.modalButton:hover {
  background-color: #d89993;
  transform: scale(1.05);
}

.modalButton:focus {
  outline: none;
}
